<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>Roku - Your Movie Buddy</title>
</head>
<body class="site">
    <h1 class="hidden">Grid Template</h1>
    <a class="skip-link screen-reader-text hidden" href="#content">Skip to content</a>
    <header class="head">
        <div class="logo">
            <p>logo</p>
        </div>
         <!-- Mobile Menu -->
       <div class="mobile tablet">
        <input type="checkbox" id="overlay-input"/>
        <label for="overlay-input" id="overlay-button"><span></span></label>
        <div id="overlay">
            <ul>
                <li><a class="active" href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
        </div>
        <!-- End Mobile Menu -->
        <nav class="nav full" aria-label="Main Navigation">
            <h2 class="hidden">Main Navigation</h2>
            <ul>
                <li><a class="active" href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="index.html">Link 3</a></li>
            </ul>
        </nav>
    </header>
    <main id="app" class="main content">
        <section id="New Trend">
          <h2 class="hidden">Hero</h2>
          <div>
            <video id="video" src="./assets/testing.mp4" controls></video>
          </div>
          
        </section>
  
        <section id="movie-options">
          <h2 class="hidden">Movies</h2>
          <div class="rows">
            <ul>
              <themovthumb @loadlbdata="loadLightBox" v-for="mov in movData" :mov="mov"></themovthumb>
            </ul>
          </div>
        </section>
  
        
          <!----database shows here, pics/text/specs/more pics-->
          
          <thelightbox @closelightbox="this.showLB = false" v-if="showLB" :mov="lbData"></thelightbox>
          
         <!-- end lightbox-->
        
    </main>
    <footer>
        <h2>Footer</h2>           
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>