.user-menu-text {
    padding-bottom: 60px;
}

.text-center p {
    padding: 30px;
}

.avatar {
    display: inline-block;
    margin: 0 1.5em;   
    cursor: pointer;
}

.user-menu {
    display: flex;
    justify-content: center;
}

.img-fluid {
    width: 50%;
}

