.movies {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.movies li {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    // margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    // background: #272727;
}




.movies h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


// .tooltip {
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     background-color: #fff;
//     border: 1px solid #ccc;
//     padding: 10px;
// }

.movie-summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.movie::before {
    content: attr(data-summary);
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    transition: opacity 0.2s ease;
}
  
.movie:hover::before {
    display: block;
}
  
.movies-page,
.kids-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kids-page .movies-head {
    color: #29aae1;
    margin: 30px;
}



video {
    width: 100vw;
}

.video-player {
    position: relative;
    // width: 100vw;
    // height: 100vh;
    margin: 0;
  }
  
  .video-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
  }

  .heading {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .sum {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 55%;
    width: 40%;
  }

  .movies-page .sum {
    top: 20%;
    left: 65%;
    width: 35%;
  }

  .play img {
    width: 40px;
    z-index: 10;
  }

  .play {
    cursor: pointer;
    z-index: 10;
  }

  
  .video-summary h2 {
    margin: 0 0 0 10px;
    font-size: 1.5em;
  }
  
  .video-summary p {
    margin-bottom: 2rem;
    text-align: left;
    margin-top: 15px;
    font-size: 0.8em;
  }
  
  .video-summary button {
    width: 50%;
    padding: 10px 10px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 0.8em;
  }

.movies-title {
    margin: 30px 0 0 30px;
}

.kids-page .movies-title {
    color: #29aae1;
}

.movies-page {
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    // mobile not fit
}

.kids-page {
    background-image: url('/images/bg-kids.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.like {
    width: 3%;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.big-like {
  position: absolute;
  top: 5%;
  left: 90%;
}

.frame img {
    width: 100%;
    transition: opacity 0.5s, 
                transform 1s;
    object-fit: cover;
}

.frame img:hover {
    opacity: 1;
    transform: scale(1.3);
}

.frame img:hover ~ .caption { 
    top: -450px;
    z-index: 10;
 }  

.frame {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-right: 10px;
}

.frame:hover {
    top: 15px;
    width: 350px;
    height: 250px;
    border: 5px solid #29aae1;
}

.caption {
    position:relative;
    padding-top:5px;
    padding-bottom:5px;
    pointer-events: none;
    text-align: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(0,0,0,.6);
    display:block;
    top: 0px;
    height: 220px;
    font-size: 12px;
    // color:antiquewhite;
    transition: all 1s 0.3s ease-out;
}

.desc {
    text-align: left;
    padding: 15px;
}

.desc h3 {
    margin-left: 0;
    font-weight: 100;
}

.desc img {
  z-index: 10;
}

.movies-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    // height: 400px;
    overflow-x: scroll;
    white-space: nowrap; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.movies-container::-webkit-scrollbar {
  display: none;
}

  


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow.left {
    left: 20px;
  }
  
  .arrow.right {
    right: 20px;
  }
  
  .arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-top: 2px solid #29aae1;
    border-right: 2px solid #29aae1;
  }
  
  .arrow.left::before {
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .arrow.right::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

.caption img {
    width: 40px;
    padding-right: 10px;
}