<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <title>.: Roku Flashback :.</title>
</head>
<body class="site">
  <main id="app" class="star-bg main">

    <section>
      <header class="head">
        
          <img class="logo" src="images/roku_flashback.svg" alt="Roku logo">
        
          <nav class="float-end" aria-label="Navigation">
              <ul v-if="authenticated" class="nav">
                  <li @click="changeUser"><i class="fas fa-user-circle"></i></li>
                  <li><i class="fas fa-cog"></i></li>
                  <li @click="logOut"><i class="fas fa-power-off"></i></li>
              </ul>
          </nav>
      </header>    
  
    </section>
  
    <div>
        <router-view @setauthenticated="setAuth" @setactiveuser="setCurrentUser" id="main-view" :user="currentUser"></router-view>
    </div>
  
<!---->


<!---->
    

  
  </main>

    <footer>
        <h2 class="hidden">Footer</h2> 
        <div class="social-media">
            <a href=""><img src="./images/fb_icon.svg" alt="logo of facebook"></a>
            <a href=""><img src="./images/ig_icon.svg" alt="logo of instagram"></a>
            <a href=""><img src="./images/youtube_icon.svg" alt="logo of youtube"></a>
            <p>&copy; ROKU FLASHBACK</p>
        </div>          
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>