.lightbox {

    width: 100vw;
    height: 200vh;
  
    position: absolute;
    left: 0;
    top: 0;
  
    background-color: rgb(196, 196, 196);
    z-index: 5000;
  }
  
  .lightbox_close { 
    position: fixed; 
    top: 20px;
    left: 95%;
    cursor: pointer;
    width: 25px;
    z-index: 5000;
  }
  
  
  
  .lightbox_close:hover { 
    opacity: 0.7; 
    transform: scale(-1, 1); 
  }
  
  .lightbox article { 
    width: 55%; 
    margin-left: 40%;
    padding-top: 50px;
  }
  
  .lb_text, .lb_heading { text-align: left; }
  
  .lb_text { 
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
  }
  
  .show-lightbox {
    display: block !important;
  }
  